
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/doc/articles/springsecurity.html">
    <head>
        <title>Noticias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/index.css}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navBar">
            <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto elementos">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Menu
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_PERIODISTA')" th:href="@{/editar}">Crear Noticia</a></li>
                            <li><hr class="dropdown-divider" sec:authorize="hasRole('ROLE_ADMIN')" ></li>

                            <li><a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_PERIODISTA')"  th:href="@{/editar}">Modificar Noticia</a></li>
                            <li><hr class="dropdown-divider" sec:authorize="hasRole('ROLE_ADMIN')"></li>

                            <li><a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_PERIODISTA')"  th:href="@{/editar}">Eliminar Noticia</a></li>
                            
                            <li><hr class="dropdown-divider" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_PERIODISTA')" ></li>
                            
                            <li><a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')"  th:href="@{/admin/listaPeriodista}">Modificar Periodista</a></li>
                            
                            <li><hr class="dropdown-divider" sec:authorize="hasRole('ROLE_ADMIN')" ></li>
                            
                            
                            <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesion</a></li>
                            <li><hr class="dropdown-divider"></li>
                        </ul>
                    </li>


                </ul>
            </div>
            
        </nav>
           <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
            <div class="card-body">
                <h5 class="card-title">Exito</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
            </div>
        <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
            <div class="card-body">
                <h5 class="card-title">Error ð</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>


        <main>
            <h3>Noticias</h3>
            
                <div class="tarjetaDeMasNoticias">  
                    <div class="card" style="width: 18rem;" th:each="noticia : ${noticias}">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${noticia.titulo}"></h5>
                            <p class="card-text text-truncate" th:text="${noticia.cuerpo}"></p>
                        </div>
                        <a th:href="@{/noticiaCompleta/__${noticia.id_noticia}__}" class="btn btn-primary"> Cargar Noticia</a>


                    </div>
                </div>
           










        </main>


        <footer>
            <p>Esta pagina web es simplemente de ejemplo para un proyecto del curso DFS de Egg. 
                Gracias por visitar :)</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>
