*{
    background-color: brown;

}

h1{ 
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: italic;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    text-align: left;

}